{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
  <h1>posref</h1>
  <p>A new exciting effort to bring discussions of scientific literature to life.</p>
</div>
            
<div class="row-fluid">
  <div class="span4">
    <h2>What is posref?</h2>
    <p>posref unites discussions of scientific literature in new and exciting ways. Ask questions about literature and receive clarifying answers from equally engaged and interested peers. Write commentary about literature and receive engaging feedback. The user experience is enriched with a reputation system that builds a trustworthy and strong community.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>Why should I use posref?</h2>
    <p>posref is for you if you are interested in scientific literature and wish to engage in discussions about it.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>Who is behind posref?</h2>
    <p>posref's software was developed by a team that shares a vision of open, unbiased discussions of scientific literature. posref's strong community is our backbone and maintains the quality of discussions on our forums.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>

{% endblock %}
